In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [6]:
import glob

In [3]:
from fastai.structured import *
from fastai.column_data import *
import pandas as pd
np.set_printoptions(threshold=50, edgeitems=20)

PATH = 'data/'

In [4]:
from biopandas.pdb import PandasPdb

In [7]:
all_files = glob.glob(os.path.join(PATH, "*"))

In [8]:
fname= all_files[0]
fname2= all_files[1]
pl1 = PandasPdb().read_pdb(f'{fname}')
pl2 = PandasPdb().read_pdb(f'{fname2}')
df= pd.DataFrame()
d=pd.DataFrame()
i=0
for fnam in all_files[1:100]:
    pl = PandasPdb().read_pdb(f'{fnam}')
    pl1.df['ATOM']=pl1.df['ATOM'].append(pl.df['ATOM'])
    #pl = d
    i=i+1
    
pl1.df['ATOM']

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,862,,N,,MET,,A,113,,...,-53.020,142.882,21.744,1.0,28.08,,,,NaN,0
1,ATOM,863,,CA,,MET,,A,113,,...,-52.088,143.221,20.682,1.0,27.31,,,,NaN,1
2,ATOM,864,,C,,MET,,A,113,,...,-50.908,143.966,21.325,1.0,26.89,,,,NaN,2
3,ATOM,865,,O,,MET,,A,113,,...,-51.066,145.080,21.824,1.0,26.43,,,,NaN,3
4,ATOM,866,,CB,,MET,,A,113,,...,-52.816,144.112,19.682,1.0,29.47,,,,NaN,4
5,ATOM,867,,CG,,MET,,A,113,,...,-52.166,144.261,18.340,1.0,31.62,,,,NaN,5
6,ATOM,868,,SD,,MET,,A,113,,...,-52.186,142.722,17.415,1.0,37.10,,,,NaN,6
7,ATOM,869,,CE,,MET,,A,113,,...,-50.435,142.577,17.047,1.0,33.99,,,,NaN,7
8,ATOM,870,,N,,PRO,,A,114,,...,-49.710,143.365,21.313,1.0,26.55,,,,NaN,8
9,ATOM,871,,CA,,PRO,,A,114,,...,-48.520,143.985,21.907,1.0,28.47,,,,NaN,9
10,ATOM,872,,C,,PRO,,A,114,,...,-47.887,145.048,21.016,1.0,28.96,,,,NaN,10
11,ATOM,873,,O,,PRO,,A,114,,...,-48.279,145.195,19.859,1.0,29.18,,,,NaN,11
12,ATOM,874,,CB,,PRO,,A,114,,...,-47.595,142.793,22.104,1.0,28.61,,,,NaN,12
13,ATOM,875,,CG,,PRO,,A,114,,...,-47.848,142.010,20.843,1.0,26.64,,,,NaN,13
14,ATOM,876,,CD,,PRO,,A,114,,...,-49.368,142.063,20.701,1.0,27.22,,,,NaN,14
15,ATOM,877,,N,,SER,,A,115,,...,-46.926,145.797,21.557,1.0,28.62,,,,NaN,15
16,ATOM,878,,CA,,SER,,A,115,,...,-46.224,146.805,20.755,1.0,29.16,,,,NaN,16
17,ATOM,879,,C,,SER,,A,115,,...,-45.131,146.015,20.041,1.0,28.30,,,,NaN,17
18,ATOM,880,,O,,SER,,A,115,,...,-44.553,145.098,20.621,1.0,27.93,,,,NaN,18
19,ATOM,881,,CB,,SER,,A,115,,...,-45.579,147.876,21.632,1.0,28.78,,,,NaN,19
20,ATOM,882,,OG,,SER,,A,115,,...,-46.425,148.274,22.696,1.0,33.66,,,,NaN,20
21,ATOM,883,,N,,ILE,,A,116,,...,-44.832,146.372,18.799,1.0,27.90,,,,NaN,21
22,ATOM,884,,CA,,ILE,,A,116,,...,-43.828,145.632,18.042,1.0,28.15,,,,NaN,22
23,ATOM,885,,C,,ILE,,A,116,,...,-42.595,146.425,17.632,1.0,28.80,,,,NaN,23
24,ATOM,886,,O,,ILE,,A,116,,...,-42.663,147.631,17.395,1.0,26.62,,,,NaN,24
25,ATOM,887,,CB,,ILE,,A,116,,...,-44.443,145.053,16.750,1.0,28.98,,,,NaN,25
26,ATOM,888,,CG1,,ILE,,A,116,,...,-45.654,144.183,17.082,1.0,29.17,,,,NaN,26
27,ATOM,889,,CG2,,ILE,,A,116,,...,-43.400,144.247,15.986,1.0,29.66,,,,NaN,27
28,ATOM,890,,CD1,,ILE,,A,116,,...,-46.434,143.771,15.853,1.0,31.13,,,,NaN,28
29,ATOM,891,,N,,ILE,,A,117,,...,-41.462,145.729,17.574,1.0,29.83,,,,NaN,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,ATOM,1005,,CE2,,TRP,,A,122,,...,51.828,20.252,13.808,1.0,26.49,,,,NaN,982
983,ATOM,1006,,CE3,,TRP,,A,122,,...,54.051,19.478,13.063,1.0,27.19,,,,NaN,983
984,ATOM,1007,,CZ2,,TRP,,A,122,,...,51.953,19.627,15.058,1.0,27.84,,,,NaN,984
985,ATOM,1008,,CZ3,,TRP,,A,122,,...,54.170,18.865,14.329,1.0,29.28,,,,NaN,985
986,ATOM,1009,,CH2,,TRP,,A,122,,...,53.152,18.946,15.289,1.0,29.32,,,,NaN,986
987,ATOM,1010,,N,,ARG,,A,123,,...,55.283,22.848,8.555,1.0,24.53,,,,NaN,987
988,ATOM,1011,,CA,,ARG,,A,123,,...,56.144,22.613,7.415,1.0,27.40,,,,NaN,988
989,ATOM,1012,,C,,ARG,,A,123,,...,57.510,23.028,7.819,1.0,32.18,,,,NaN,989
990,ATOM,1013,,O,,ARG,,A,123,,...,58.494,22.522,7.262,1.0,31.98,,,,NaN,990
991,ATOM,1014,,CB,,ARG,,A,123,,...,55.689,23.490,6.228,1.0,25.09,,,,NaN,991
992,ATOM,1015,,CG,,ARG,,A,123,,...,56.464,23.267,4.957,1.0,28.24,,,,NaN,992
993,ATOM,1016,,CD,,ARG,,A,123,,...,56.022,24.235,3.863,1.0,30.46,,,,NaN,993
994,ATOM,1017,,NE,,ARG,,A,123,,...,56.514,23.704,2.606,1.0,36.43,,,,NaN,994
995,ATOM,1018,,CZ,,ARG,,A,123,,...,57.816,23.579,2.257,1.0,36.74,,,,NaN,995
996,ATOM,1019,,NH1,,ARG,,A,123,,...,58.840,23.976,3.065,1.0,38.57,,,,NaN,996
997,ATOM,1020,,NH2,,ARG,,A,123,,...,58.112,23.056,1.061,1.0,37.64,,,,NaN,997
998,ATOM,1021,,N,,GLU,,A,124,,...,57.587,24.015,8.665,1.0,32.40,,,,NaN,998
999,ATOM,1022,,CA,,GLU,,A,124,,...,58.894,24.503,9.066,1.0,38.50,,,,NaN,999
1000,ATOM,1023,,C,,GLU,,A,124,,...,59.350,24.072,10.451,1.0,41.36,,,,NaN,1000
1001,ATOM,1024,,O,,GLU,,A,124,,...,60.428,24.455,10.878,1.0,43.02,,,,NaN,1001
1002,ATOM,1025,,CB,,GLU,,A,124,,...,58.891,26.010,8.920,1.0,39.43,,,,NaN,1002
1003,ATOM,1026,,CG,,GLU,,A,124,,...,58.099,26.756,9.957,1.0,38.04,,,,NaN,1003
1004,ATOM,1027,,CD,,GLU,,A,124,,...,58.982,27.507,10.902,1.0,41.52,,,,NaN,1004
1005,ATOM,1028,,OE1,,GLU,,A,124,,...,58.618,27.576,12.103,1.0,47.21,,,,NaN,1005
1006,ATOM,1029,,OE2,,GLU,,A,124,,...,60.041,28.045,10.460,1.0,38.40,,,,NaN,1006
1007,ATOM,1030,,N,,ALA,,A,125,,...,58.554,23.273,11.158,1.0,45.36,,,,NaN,1007
1008,ATOM,1031,,CA,,ALA,,A,125,,...,58.934,22.815,12.499,1.0,47.13,,,,NaN,1008
1009,ATOM,1032,,C,,ALA,,A,125,,...,60.231,22.001,12.420,1.0,47.26,,,,NaN,1009
1010,ATOM,1033,,O,,ALA,,A,125,,...,60.528,21.441,11.364,1.0,48.17,,,,NaN,1010
1011,ATOM,1034,,CB,,ALA,,A,125,,...,57.807,22.002,13.145,1.0,44.82,,,,NaN,1011

In [9]:
pl1.df['ATOM'].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,862,,N,,MET,,A,113,,...,-53.020,142.882,21.744,1.0,28.08,,,,NaN,0
1,ATOM,863,,CA,,MET,,A,113,,...,-52.088,143.221,20.682,1.0,27.31,,,,NaN,1
2,ATOM,864,,C,,MET,,A,113,,...,-50.908,143.966,21.325,1.0,26.89,,,,NaN,2
3,ATOM,865,,O,,MET,,A,113,,...,-51.066,145.080,21.824,1.0,26.43,,,,NaN,3
4,ATOM,866,,CB,,MET,,A,113,,...,-52.816,144.112,19.682,1.0,29.47,,,,NaN,4

In [10]:
pl1.df['ATOM'].columns

Index(['record_name', 'atom_number', 'blank_1', 'atom_name', 'alt_loc',
       'residue_name', 'blank_2', 'chain_id', 'residue_number', 'insertion',
       'blank_3', 'x_coord', 'y_coord', 'z_coord', 'occupancy', 'b_factor',
       'blank_4', 'segment_id', 'element_symbol', 'charge', 'line_idx'],
      dtype='object')

In [16]:
df = pd.DataFrame()
df=pl1.df['ATOM'].drop(['blank_1', 'alt_loc','blank_2','insertion','blank_3','occupancy','blank_4',
                     'segment_id', 'element_symbol', 'charge', 'line_idx'], axis=1)

In [17]:
df.head()

,record_name,atom_number,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,b_factor
0,ATOM,862,N,MET,A,113,-53.020,142.882,21.744,28.08
1,ATOM,863,CA,MET,A,113,-52.088,143.221,20.682,27.31
2,ATOM,864,C,MET,A,113,-50.908,143.966,21.325,26.89
3,ATOM,865,O,MET,A,113,-51.066,145.080,21.824,26.43
4,ATOM,866,CB,MET,A,113,-52.816,144.112,19.682,29.47

In [19]:
df['coord'] = df[df['x_coord'] , df['y_coord'], df['z_coord']]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [13]:
df.head()

,record_name,atom_number,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,b_factor,coord
0,ATOM,862,N,MET,A,113,-53.020,142.882,21.744,28.08,111.606
1,ATOM,863,CA,MET,A,113,-52.088,143.221,20.682,27.31,111.815
2,ATOM,864,C,MET,A,113,-50.908,143.966,21.325,26.89,114.383
3,ATOM,865,O,MET,A,113,-51.066,145.080,21.824,26.43,115.838
4,ATOM,866,CB,MET,A,113,-52.816,144.112,19.682,29.47,110.978

In [13]:
df['atom_name']=df.atom_name.astype('category')

In [14]:
df['residue_name']=df.residue_name.astype('category')
df['chain_id']=df.chain_id.astype('category')

In [15]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [16]:
df.atom_name=df.atom_name.cat.codes

In [17]:
 df.residue_name = df.residue_name.cat.codes

In [18]:
df.chain_id = df.chain_id.cat.codes

In [19]:
df['x_coord']= abs(df['x_coord'])

In [22]:
df['y_coord']= abs(df['y_coord'])
df['z_coord']= abs(df['z_coord'])

In [33]:
df['z_coord']

0       21.744
1       20.682
2       21.325
3       21.824
4       19.682
5       18.340
6       17.415
7       17.047
8       21.313
9       21.907
10      21.016
11      19.859
12      22.104
13      20.843
14      20.701
15      21.557
16      20.755
17      20.041
18      20.621
19      21.632
20      22.696
21      18.799
22      18.042
23      17.632
24      17.395
25      16.750
26      17.082
27      15.986
28      15.853
29      17.574
         ...
982     13.808
983     13.063
984     15.058
985     14.329
986     15.289
987      8.555
988      7.415
989      7.819
990      7.262
991      6.228
992      4.957
993      3.863
994      2.606
995      2.257
996      3.065
997      1.061
998      8.665
999      9.066
1000    10.451
1001    10.878
1002     8.920
1003     9.957
1004    10.902
1005    12.103
1006    10.460
1007    11.158
1008    12.499
1009    12.420
1010    11.364
1011    13.145
Name: z_coord, Length: 118563, dtype: float64

In [24]:
train_cats(df)

In [25]:
df1, y, nas = proc_df(df, 'x_coord')

In [26]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

In [27]:
n_valid = 10000  
n_trn = len(df1)-n_valid
raw_train, raw_valid = split_vals(df1, n_trn)
X_train, X_valid = split_vals(df1, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((108563, 9), (108563,), (10000, 9))

In [28]:
def print_score(m):
    res = [m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [36]:
print(m.predict(X_valid))
print(m.score(X_train, y_train))
print(m.score(X_valid, y_valid))

[32.4404 31.7124 33.0869 36.8839 33.5413 33.7792 33.5583 33.7253 37.0413 33.4114 32.6471 31.7113 26.3511
 36.6572 31.5867 30.3219 34.3993 31.5109 40.8781 40.8633 ... 80.0123 80.1253 68.6685 68.4249 60.5871 59.9047
 32.6243 26.0752 21.2794 24.7275 27.0271 21.2922 22.0001 16.323  26.5944 24.6571 24.8082 24.8082 18.8019
 27.7225]
0.9950272510519352
-0.5414851649363936

In [30]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)

CPU times: user 9.13 s, sys: 104 ms, total: 9.23 s
Wall time: 1.23 s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [31]:
print(m.score(X_valid,y_valid))

-0.5414851649363936

In [ ]:
def get_preds(t): return t.predict(X_valid)
%time preds = np.stack(parallel_trees(m, get_preds))
np.mean(preds[:,0]), np.std(preds[:,0])

In [ ]:
x = raw_valid.copy()
x['pred_std'] = np.std(preds, axis=0)
x['pred'] = np.mean(preds, axis=0)
x.residue_name.value_counts().plot.barh();

In [ ]:
fi = rf_feat_importance(m, df1); fi[:10]

In [ ]:
fi.plot('cols', 'imp', figsize=(10,6), legend=False);

In [ ]:
def plot_fi(fi): return fi.plot('cols', 'imp', 'barh', figsize=(12,7), legend=False)

In [ ]:
plot_fi(fi[:30]);