In [40]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [41]:
from fastai.structured import *
from fastai.column_data import *
import pandas as pd
np.set_printoptions(threshold=50, edgeitems=20)

PATH = 'fixed/data/'

In [42]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [43]:
df=pd.read_pickle('df_fixed.pkl')

In [44]:
df.head(20)

,atom_number,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,b_factor,element_symbol,x_ca,y_ca,z_ca
0,1,N,PHE,1,1,-17.932,5.235,4.057,0.0,N,-19.289,5.514,3.562
1,2,CA,PHE,1,1,-19.289,5.514,3.562,0.0,C,-19.289,5.514,3.562
2,3,C,PHE,1,1,-19.342,6.462,2.300,0.0,C,-19.289,5.514,3.562
3,4,O,PHE,1,1,-19.767,6.029,1.234,0.0,O,-19.289,5.514,3.562
4,5,CB,PHE,1,1,-20.099,6.097,4.709,0.0,C,-19.289,5.514,3.562
5,6,CG,PHE,1,1,-21.559,6.092,4.496,0.0,C,-19.289,5.514,3.562
6,7,CD1,PHE,1,1,-22.286,4.925,4.670,0.0,C,-19.289,5.514,3.562
7,8,CD2,PHE,1,1,-22.231,7.244,4.111,0.0,C,-19.289,5.514,3.562
8,9,CE1,PHE,1,1,-23.668,4.909,4.479,0.0,C,-19.289,5.514,3.562
9,10,CE2,PHE,1,1,-23.625,7.231,3.923,0.0,C,-19.289,5.514,3.562
10,11,CZ,PHE,1,1,-24.333,6.056,4.117,0.0,C,-19.289,5.514,3.562
11,12,N,PRO,1,2,-18.858,7.722,2.411,0.0,N,-19.105,8.750,1.379
12,13,CA,PRO,1,2,-19.105,8.750,1.379,0.0,C,-19.105,8.750,1.379
13,14,C,PRO,1,2,-18.628,8.475,-0.039,0.0,C,-19.105,8.750,1.379
14,15,O,PRO,1,2,-19.422,8.546,-0.960,0.0,O,-19.105,8.750,1.379
15,16,CB,PRO,1,2,-18.377,10.009,1.909,0.0,C,-19.105,8.750,1.379
16,17,CG,PRO,1,2,-17.728,9.627,3.148,0.0,C,-19.105,8.750,1.379
17,18,CD,PRO,1,2,-17.806,8.160,3.350,0.0,C,-19.105,8.750,1.379
18,19,N,MET,1,3,-17.354,8.179,-0.247,0.0,N,-16.889,7.966,-1.615
19,20,CA,MET,1,3,-16.889,7.966,-1.615,0.0,C,-16.889,7.966,-1.615

In [45]:
df.columns

Index(['atom_number', 'atom_name', 'residue_name', 'chain_id',
       'residue_number', 'x_coord', 'y_coord', 'z_coord', 'b_factor',
       'element_symbol', 'x_ca', 'y_ca', 'z_ca'],
      dtype='object')

In [46]:
cat_vars = ['atom_name', 'residue_name', 'chain_id',
       'residue_number','element_symbol']

In [47]:
contin_vars = ['x_coord', 'y_coord', 'z_coord','x_ca', 'y_ca', 'z_ca']

In [48]:
for v in cat_vars: df[v] = df[v].astype('category').cat.as_ordered()

In [49]:
for v in contin_vars:
    df[v] = df[v].fillna(0).astype('float32')

In [50]:
df.columns

Index(['atom_number', 'atom_name', 'residue_name', 'chain_id',
       'residue_number', 'x_coord', 'y_coord', 'z_coord', 'b_factor',
       'element_symbol', 'x_ca', 'y_ca', 'z_ca'],
      dtype='object')

In [51]:
y=df.drop(['atom_name', 'residue_name', 'chain_id', 'residue_number','b_factor', 'atom_number','element_symbol', 'x_ca', 'y_ca', 'z_ca'],axis=1)
y.head()

     x_coord  y_coord  z_coord
0 -17.931999    5.235    4.057
1 -19.289000    5.514    3.562
2 -19.341999    6.462    2.300
3 -19.767000    6.029    1.234
4 -20.099001    6.097    4.709

In [52]:
y=y.values

In [53]:
train_cats(df)

In [54]:
df.head()

,atom_number,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,b_factor,element_symbol,x_ca,y_ca,z_ca
0,1,N,PHE,1,1,-17.931999,5.235,4.057,0.0,N,-19.289,5.514,3.562
1,2,CA,PHE,1,1,-19.289000,5.514,3.562,0.0,C,-19.289,5.514,3.562
2,3,C,PHE,1,1,-19.341999,6.462,2.300,0.0,C,-19.289,5.514,3.562
3,4,O,PHE,1,1,-19.767000,6.029,1.234,0.0,O,-19.289,5.514,3.562
4,5,CB,PHE,1,1,-20.099001,6.097,4.709,0.0,C,-19.289,5.514,3.562

In [55]:
df=df.drop(['x_coord','y_coord', 'z_coord'],axis=1)
df.head(10)

,atom_number,atom_name,residue_name,chain_id,residue_number,b_factor,element_symbol,x_ca,y_ca,z_ca
0,1,N,PHE,1,1,0.0,N,-19.289,5.514,3.562
1,2,CA,PHE,1,1,0.0,C,-19.289,5.514,3.562
2,3,C,PHE,1,1,0.0,C,-19.289,5.514,3.562
3,4,O,PHE,1,1,0.0,O,-19.289,5.514,3.562
4,5,CB,PHE,1,1,0.0,C,-19.289,5.514,3.562
5,6,CG,PHE,1,1,0.0,C,-19.289,5.514,3.562
6,7,CD1,PHE,1,1,0.0,C,-19.289,5.514,3.562
7,8,CD2,PHE,1,1,0.0,C,-19.289,5.514,3.562
8,9,CE1,PHE,1,1,0.0,C,-19.289,5.514,3.562
9,10,CE2,PHE,1,1,0.0,C,-19.289,5.514,3.562

In [56]:
df=df.drop(['atom_number'],axis=1)
df.head()

,atom_name,residue_name,chain_id,residue_number,b_factor,element_symbol,x_ca,y_ca,z_ca
0,N,PHE,1,1,0.0,N,-19.289,5.514,3.562
1,CA,PHE,1,1,0.0,C,-19.289,5.514,3.562
2,C,PHE,1,1,0.0,C,-19.289,5.514,3.562
3,O,PHE,1,1,0.0,O,-19.289,5.514,3.562
4,CB,PHE,1,1,0.0,C,-19.289,5.514,3.562

In [57]:
df1, d, nas, mapper = proc_df(df, 'b_factor', do_scale=True)

In [58]:
from sklearn.multioutput import MultiOutputRegressor

In [59]:
import xgboost as xgb

In [60]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 50000  
n_trn = len(df1)-n_valid
X_train, X_valid = split_vals(df1, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((300000, 8), (300000, 3), (50000, 8))

In [61]:
multi = MultiOutputRegressor(RandomForestRegressor(n_estimators=80, n_jobs=-1)).fit(X_train, y_train)

In [62]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())
def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]

    print(res)

In [63]:
print_score(multi)

[0.474062193605533, 22.422166279964888, 0.9998616186226553, 0.8830882496845494]

In [64]:
yp = multi.predict(X_valid)

In [65]:
y_valid

array([[54.118, 43.665, 12.637],
       [51.642, 47.108,  9.689],
       [50.96 , 47.513,  8.466],
       [51.707, 48.624,  7.731],
       [52.176, 49.587,  8.344],
       [49.526, 47.949,  8.787],
       [48.673, 46.896,  9.504],
       [47.255, 47.404,  9.754],
       [48.641, 45.606,  8.711],
       [51.612, 47.692, 10.32 ],
       [50.909, 46.74 ,  7.865],
       [49.563, 48.733,  9.357],
       [49.079, 48.172,  7.956],
       [49.074, 46.703, 10.366],
       [46.752, 46.72 , 10.202],
       [47.297, 48.192, 10.301],
       [46.845, 47.612,  8.911],
       [48.102, 44.965,  9.18 ],
       [48.265, 45.781,  7.846],
       [49.538, 45.275,  8.618],
       ...,
       [12.416, 44.046, 12.435],
       [18.737, 45.469,  9.754],
       [18.699, 45.995,  8.389],
       [19.849, 45.449,  7.539],
       [19.645, 45.076,  6.37 ],
       [18.709, 47.533,  8.412],
       [21.044, 45.381,  8.123],
       [22.212, 44.822,  7.443],
       [22.012, 43.323,  7.162],
       [22.319, 42.844,  6.055],
       [23.484, 45.061,  8.267],
       [24.638, 44.207,  7.857],
       [25.523, 44.46 ,  6.85 ],
       [25.037, 42.96 ,  8.444],
       [26.45 , 43.449,  6.77 ],
       [26.173, 42.512,  7.734],
       [24.54 , 42.174,  9.5  ],
       [26.831, 41.322,  8.049],
       [25.192, 40.993,  9.815],
       [26.328, 40.573,  9.085]], dtype=float32)

In [66]:
error = yp - y_valid

In [67]:
error.mean()

2.604751227544757

In [68]:
fi = rf_feat_importance(multi, df1); fi[:10]

AttributeError: 'MultiOutputRegressor' object has no attribute 'feature_importances_'