In [23]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [24]:
from fastai.structured import *
from fastai.column_data import *
import pandas as pd
np.set_printoptions(threshold=50, edgeitems=20)

PATH = 'data/'

In [45]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [70]:
df=pd.read_pickle('df_7.pkl')

In [71]:
df.head()

,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,b_factor
307,C,GLU,A,379,17.739,22.448,19.245,49.91
308,O,GLU,A,379,18.690,22.852,19.921,48.38
309,CB,GLU,A,379,16.840,20.394,20.375,58.83
310,CG,GLU,A,379,18.044,20.300,21.314,67.23
311,CD,GLU,A,379,17.859,21.078,22.620,71.93

In [72]:
from sklearn.utils import shuffle

In [73]:
df= shuffle(df)

In [74]:
cat_vars = ['atom_name', 'residue_name', 'chain_id',
       'residue_number']

In [75]:
contin_vars = ['x_coord', 'y_coord', 'z_coord']

In [76]:
for v in cat_vars: df[v] = df[v].astype('category').cat.as_ordered()

In [77]:
for v in contin_vars:
    df[v] = df[v].fillna(0).astype('float32')

In [78]:
train_cats(df)

In [79]:
df.columns

Index(['atom_name', 'residue_name', 'chain_id', 'residue_number', 'x_coord',
       'y_coord', 'z_coord', 'b_factor'],
      dtype='object')

In [80]:
y=df.drop(['atom_name', 'residue_name', 'chain_id', 'residue_number','b_factor'],axis=1)
y.head()

        x_coord    y_coord    z_coord
772   23.913000  23.596001  21.587000
290   20.663000  27.250000  30.377001
1484  20.089001  22.757999  29.853001
1737  18.188999  22.113001  20.568001
6     22.669001  27.933001  27.606001

In [81]:
df=df.drop(['x_coord','y_coord', 'z_coord'],axis=1)
df.head()

     atom_name residue_name chain_id residue_number  b_factor
772          C          LYS        A            144     13.61
290         CB          LEU        A            541     49.01
1484        CG          GLN        A            204     53.87
1737         N          GLY        A            328     54.70
6           CD          PRO        A             10     21.76

In [82]:
df1,y2,nas = proc_df(df,'b_factor')

In [83]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()
n_valid = 4000
n_trn = len(df1)-n_valid
raw_train, raw_valid = split_vals(df1, n_trn)
X_train, X_valid = split_vals(df1, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape,y_valid.shape

((39710, 4), (39710, 3), (4000, 4), (4000, 3))

In [84]:
def print_score(m):
    res = [m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [86]:
m = RandomForestRegressor(n_estimators=120, n_jobs=-1)
m.fit(X_train, y_train)
print_score(m)

[0.7425443145808975, 0.23822405043311612]

In [88]:
m.fit(X_train, y_train)
print_score(m)

[0.7424601242338719, 0.23740108829264475]